auth:
  username: ''
  password: ''
variables: # path variable replacements for {varname} in the paths below
  reference: 'tbx-r-714133083'
  row.id: 1
  txnId: 'tbx-84513324a17503-b1a93d'
order:
 - url: POST /baskets
   persist: ident # save the response ident and use it for the next requests
 - url: GET /baskets/{ident}
 - url: POST /baskets/{ident}/packages
 - url: POST /baskets/{ident}/sales
 - url: DELETE /baskets/{ident}/packages/{row.id}
 - url: GET /payments/{txnId}?type=txn_id
 - url: POST /payments/{txnId}/refund?type=txn_id
 - url: GET /recurring-payments/{reference}
 - url: PUT /recurring-payments/{reference}
 - url: PUT /recurring-payments/{reference}/status
 - url: DELETE /recurring-payments/{reference}
 - url: POST /checkout